@import "../Variables/Variables.scss";

.overlay-styles{
    position: fixed;
    top: 0;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}
.event-details-styles{
    @include modalStyles();
    padding: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    .event-details-header{
        @include justifySpaceBetween();
       .header-title{
          font-size: 20px
       }
       .header-icons{
        @include makeItemCentre();
        column-gap: 10px;
        .edit{
            cursor: pointer;
            position: relative;
            .span-edit{
               @include tool-tip();
               top: 100%;
            }
            &:hover .span-edit{
                visibility: visible;
            }
            .icon-edit{
                @include tool-tip-icon()
            }
            &:hover .icon-edit{
                background-color: #F0F0F0;
            }
        }  
        .delete{
            cursor: pointer;
            position: relative;
            .span-delete{
               @include tool-tip();
               top: 100%;
            }
            &:hover .span-delete{
                visibility: visible;
            }
            .icon-delete{
                @include tool-tip-icon()
            }
            &:hover .icon-delete{
                background-color: #F0F0F0;
            }
        } 
        .close{
            cursor: pointer;
            position: relative;
            .span-close{
               @include tool-tip();
               top: 100%;
            }
            &:hover .span-close{
                visibility: visible;
            }
            .icon-close{
                @include tool-tip-icon();
                // font-size: 24px;
            }
            &:hover .icon-close{
                background-color: #F0F0F0;
            }
        } 
       }
    }
    .event-details-body{
        display: flex;
        column-gap: 12px;
        // align-items: center;
        .event-color{
            width: 13px;
            height: 13px;
            background-image: linear-gradient(to bottom,#d11b70,#AA336A);
            border-radius: 50%;
            margin-top: 6px;
        }
       .event-info{
        width: 95%;
        .event-title{
            font-size: 16px;
        }
        .event-date-time{
            font-size: 14px;
           }
       }
    }
}