.notify-overlay-styles{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.notify-body{
    position: fixed;
    top: 18px;
    left: 37%;
    z-index: 2;
    width: 380px;
    border: 1px solid #aa336a;
    border-radius: 6px;
    background-color: white;
    color: #AA336A;
    box-shadow: 0px 2px 14px grey;
    padding: 30px;
    text-align: center;
    animation: bring-down 0.6s ease-in-out;
    @keyframes bring-down {
        0%{
          transform: translateY(-100vh); 
        }   
        100%{
          transform: translateY(0px);
       } 
    }
    .notify-message{
        position: relative;
        .notify-close{
            position: absolute;
            top:-46px;
            right: -60px;
            padding: 5px;
            border: 1px solid #aa336a;
            border-radius: 50%;
            background-color: white;
            color: #AA336A;
            box-shadow: 0px 2px 14px grey;
            cursor: pointer;
            &:hover{
                background-color: rgb(213, 212, 212)
            }
        }
    }
}

.hide-notify-body{
    transition: 0.4s ease-in-out;
    transform: translateY(-300px);
}
