@import "../Variables/Variables.scss";

.side-bar{
    width: 20%;
    margin-left: 20px;
    position: fixed;
    @include flexDirectionColumn();
    transition: 0.3s ease-out;
    transform: translateX(0px);
    // row-gap: 15px;
    row-gap: 31px;
    margin-top: 15px;
    .side-bar-top{
        .side-bar-create-button{
            border-radius: 22px;
            padding: 8px 18px;
            .sidebar-create-icon{
                color: white;
                background-color: 	#AA336A;
                border-radius: 50%;
                padding: 5px;
            }
            span{
                margin: 0px 8px;
            }
        }
        
    }
    .side-bar-bottom{
        position: relative;
        .cal{
            position: absolute;
            border: 1px solid gainsboro;
            width: 300px;
            height: fit-content;
            font-size: 10px;
            // box-sizing: border-box;
            // box-shadow: 0px 2px 7px grey;
           border-radius: 4px;
        }
        .rdrMonthAndYearWrapper{
            height: 55px;
            padding-top: 3px;
        }
        .rdrMonth{
            width: 280px;
        }
        .rdrMonthAndYearPickers select{
           font-family: 'Poppins', sans-serif;
            color: black;
            font-size: larger;
        }
        .rdrDayNumber span{
            color: black;
           font-family: 'Poppins', sans-serif;
        }
        .rdrWeekDay{
           font-family: 'Poppins', sans-serif;
        }
        .rdrWeekDay, .rdrDayPassive .rdrDayNumber span{
            color: #696969
        }
        .rdrDayStartPreview, .rdrDayEndPreview{
            border: none !important;
        }
        .rdrDayToday .rdrDayNumber span:after{
            background: #AA336A;
        } 
       
    }
}
.hide-side-bar{
    @extend .side-bar;
    transition: 0.3s ease-out;
    transform: translateX(-328px);
}

